body {
    margin: 0;
    padding: 0;
    background-color:lightgoldenrodyellow;
    font-family:'Courier New', Courier, monospace;
}
.container {
    margin-left: 75px;
    margin-right: 75px;
    padding: 30px;
    background-color: rgb(245, 215, 215);
    border-radius: 20px;
}
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}
.logo-container img {
    max-width: 300px;
    height: auto;
}
h3 {
    text-align: center;
}
.task {
    margin-bottom: 40px;
    padding: 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}
input[type="text"], input[type="number"], select {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-color: darkgrey;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}